<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Laravel Shiprocket Package">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2fl+KtvkdphvQyVj8sRqXrJRqGqYBOtQ0qJjZ4qVqY8="/>
        <env name="CACHE_STORE" value="array"/>
        <env name="SHIPROCKET_EMAIL" value="api@example.com"/>
        <env name="SHIPROCKET_PASSWORD" value="secret"/>
        <env name="SHIPROCKET_TOKEN_CACHE" value="true"/>
        <env name="SHIPROCKET_RETRY_ENABLED" value="true"/>
    </php>
</phpunit>
